@{
    ViewData["Title"] = "ЕГРП парсер";
}

<div class="text-center">
    <h1 class="display-4">ЕГРП парсер</h1>
</div>
<div class="text-center">
    <br>
    <br>
    <br>
    <br>
    <h3>Ошибка парсинга</h3>
    <br>
    <br>
    <h5>@ViewBag.ErrMessage</h5>
    <a href="~/EGRP/Index">назад</a>
</div>
